<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Proetry</title>


  <script src=" https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- Firebase -->
  <script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.3/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.3/quill.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.3/quill.bubble.css" rel="stylesheet">


<link href="https://cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,500,600,700" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<link rel = "stylesheet" href= "reset.css">
<link rel = "stylesheet" href= "style.css">


</head>

<body>

<div id = "app">
<!-- <h1> poetry </h1> -->
<div id = "writerComponent" class = "section">
	 <button @click="addPoem(title)" id = "add" type="submit" class="btn"> Add Poem </button>

<input id = "titleInput" v-model="title" placeholder="poem title">
<div id = "editor">
</div>

<div id = "revisions">

	</div>
  
</div>
<div id = "stage" class = "section">

	</div>

	<div id = "archive" class = "section">
<ul>
<!--  <li v-for="poem in poems" v-bind:titleStuff="poem.title"  is="my-component"> -->

 <li v-for="poem in poems">
{{poem.title}}
<button class = "show" @click="showPoem(poem)">Show</button>

<button class = "delete" @click="removePoem(poem)">Delete</button>

<!-- //need to fix revise so it's not so easy to accidentally overwrite the wrong entry--preferable bhy only showing revise button for `poem` that is currently being displayed in stage/editor -->
<!--  <button @click="revisePoem(poem)" id = "revise" type="submit" class="btn"> Revise </button> -->



<!--   inline way to link buttons to database -->
<!--  <button @click="removePoem(item['.key'])">X</button> -->
</li>
</ul>
</div>



</div> <!-- end app  -->
<script src="app.js"></script>
<script src="creator.js"></script>
</body>


</html>
