body{
	background-color: rgba(68, 68, 68, .4);
	font-size: 18px;

}

#app {
	background-color: rgba(252, 252, 252, .9);
	display: grid;
	width: 90vw;
	grid-template-columns: 30vw 30vw 35vw;
	grid-template-rows: 30vh 20vh 30vh;
	grid-gap: 1.5em;
}

.section{
	border: .5em solid #444;
}
#writerComponent{

	grid-row: 1/2

}

#stage {
	grid-row: 1/2

}

#archive{
grid-row: 1/span 3



}

h1{
	font-size: 150%;
}

#revisionMaker{
	width: 10vw;
}

.poemTitle{
	font-size: 150%;
	line-height: 1.2em;
	text-transform: uppercase;
}