body{
	background-color: rgba(68, 68, 68, 1);
	font-size: 18px;

}

#app {
	background-color: rgba(252, 252, 252, .9);
	display: grid;
	width: 95vw;
	grid-template-columns: 25vw 30vw 35vw;
	grid-template-rows: 30vh 25vh 30vh;
	grid-gap: 1.5em;
	margin: 4vh;
	padding: .3em;

}

.section{
	border: .1em solid #444;
}
#writerComponent{
	grid-row: 1/ span 2;
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: 10vh 30vh 20vh;
	grid-gap: 1.5em;

}

#editor {
	background-color: rgb(195, 217, 237);
	grid-row: 2/ span 1;
	grid-column: 1/ span 2;
}

#add{
 width: 100%;
 // margin: auto;

}

#addButton{
	grid-row: 3/ span 1;
	grid-column: 1/ span 2;
	// display: flex;
	// content-align: center;

}

#titleHolder{
	padding: 1em;
	grid-column: 1/ span 2;
	grid-row: 1/ span 1;
}
#titleInput{
	width: 100%;
	height: 5vh;
	text-align: center;
	background-color: rgba(13, 82, 91, .5);
}

#stage {
	grid-row: 1/2

}

#archive{
grid-row: 1/span 3

}

#revisions{
	grid-row: 3/ span 1;
	grid-column: 1/ span 2;
}

h1{
	font-size: 150%;
}

#revisionMaker{
	// width: 10vw;
}

#poemTitle{
	font-size: 150%;
	line-height: 1.2em;
	text-transform: uppercase;
}

.option{

	width: 15vw;
	height: 5vh;
	margin: auto;
	background-color: rgba(68, 68, 68, .8);
	color: #fffff8;
}