 /* 
    shade 0 = #68738A = rgb(104,115,138) = rgba(104,115,138,1) = rgb0(0.408,0.451,0.541)
   shade 1 = #BCC0C9 = rgb(188,192,201) = rgba(188,192,201,1) = rgb0(0.737,0.753,0.788)
   shade 2 = #8B93A3 = rgb(139,147,163) = rgba(139,147,163,1) = rgb0(0.545,0.576,0.639)
   shade 3 = #4C5874 = rgb( 76, 88,116) = rgba( 76, 88,116,1) = rgb0(0.298,0.345,0.455)
   shade 4 = #34405C = rgb( 52, 64, 92) = rgba( 52, 64, 92,1) = rgb0(0.204,0.251,0.361)

   shade 0 = #415687 = rgb( 65, 86,135) = rgba( 65, 86,135,1) = rgb0(0.255,0.337,0.529)
   shade 1 = #96A4C4 = rgb(150,164,196) = rgba(150,164,196,1) = rgb0(0.588,0.643,0.769)
   shade 2 = #6578A2 = rgb(101,120,162) = rgba(101,120,162,1) = rgb0(0.396,0.471,0.635)
   shade 3 = #283D6E = rgb( 40, 61,110) = rgba( 40, 61,110,1) = rgb0(0.157,0.239,0.431)
   shade 4 = #102451 = rgb( 16, 36, 81) = rgba( 16, 36, 81,1) = rgb0(0.063,0.141,0.318)
*/
body{
	background-color: rgba(188, 192, 201, .7);
	font-size: 18px;
	font-family: oswald;
	color:  #102451;
}

#app {
	background-color: rgba(150, 164, 196, .8);
	display: grid;
	width: 95vw;
	grid-template-columns: 60vw 35vw;
	grid-template-rows: 40vh 50vh;
	grid-gap: 1.5em;
	margin: 4vh;
	padding: .3em;
	// color: #BCC0C9;
}

.section{

}

#writerComponent{
	grid-row: 2/ span 1;
	grid-column: 1/span 1;
	display: grid;
	grid-template-columns: 90%;
	grid-template-rows: 10vh 30vh 10vh;
	grid-gap: 1.5em;
}

#editor {
	background-color: rgba(188,192,201,.6);
	color: #444;
	border: .01em solid rgba(16, 36, 81, .7);
	grid-row: 2/ span 1;
	grid-column: 1/1;
}


#add{
 width: 100%;
 // margin: auto;

}

#addButton{
	grid-row: 3/ span 1;
	grid-column: 1/1;

}

#titleHolder{
	padding: 1em;
	grid-column: 1/1;
	grid-row: 1/ span 1;
}
#titleInput{
	width: 100%;
	height: 5vh;
	text-align: center;
	background-color: #4C5874;
	color: #fffff8;
}

#stage {
	grid-row: 1/span 1;
	grid-column: 1/span 1;
	background-color: #68738A;
	width: 90%;


}

#previewStage{
  grid-row: 1/1;
  grid-column: 2/span 1;
  height: 100%;
  background-color: #4C5874;
}

#archive{
grid-row: 1/span 2;
grid-column: 2/span 1;

// display: grid

}

.poemHolder{
	background-color: #102451;
	margin: .5em;
	position: relative;
	z-index: 1;
	height: 10vh;
	width: 70%;
	margin-left: 30%;

}

.flag{
	background-color: #B4303D;
	border-radius: 50%;
	width: 4.5vh;
	height: 4.5vh;
	left: 50%;
	position: absolute;
}

.archiveTitle{
	color: white;
	font-family: oswald;
	// display: flex;
	padding: .5em;
	text-transform: uppercase;

}


#revisions{
	grid-row: 3/ span 1;
	grid-column: 1/ span 2;
}

#archiveSectionTitle{
	font-size: 150%;
	margin-left: 30%;
	// text-align: center;
}

#revisionMaker{
	// width: 10vw;
}

#poemTitle{
	font-size: 150%;
	line-height: 1.2em;
	text-transform: uppercase;
}

.option{

	width: 15vw;
	height: 5vh;
	margin: auto;
	background-color: rgba( 40, 61,110,1);
	color: #fffff8;
	border: .2em solid #102451;
}

input{
	outline: none;
	border: .2em solid #102451;

	// border: none;
}

input::placeholder {
  color: #BCC0C9;
}

.show{
	background-color: #BCC0C9;

}

.delete{
	background-color: #B4303D;
	color: white;

}

.tooltipContent{
	font-size: 45%;
}